<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- sortie du log en console -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-mm-dd HH:mm:ss} %-5level %logger{20} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	
	<logger level="debug" name="org.springframework.web" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	

	<root level="info"> <!-- niveau de debeug depuis ilnofs et tout ce qu'il y a de plus important -->
		<appender-ref ref="STDOUT" />
	</root>

</configuration>