<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	
	xmlns:context = "http://www.springframework.org/schema/context"
   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans.xsd
        				
        				http://www.springframework.org/schema/context
      					http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="presentation" />

<!-- Déclaration d'un bean (scope-singleton) permettant d'injecter une instance unique du service 
qui manipule les objets d'articles partout où demander (via @Autowired) -->
    <bean id="clientService" class="service.ClientServiceImpl"></bean>
    <bean id="clientDao" class="dao.SQLClientDAO"></bean>

</beans>