<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	
	xmlns:context = "http://www.springframework.org/schema/context"
   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans.xsd
        				
        				http://www.springframework.org/schema/context
      					http://www.springframework.org/schema/context/spring-context.xsd
      					
      					http://www.springframework.org/schema/data/jpa
      					http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


	<context:component-scan base-package="service" />
	<!-- pour dire à spring d'allez lire ine annotation -->
	<!-- pas de 'presentation' car le lien est fait dnas la classe AutowiredService et son héritage -->

<!-- Déclaration d'un bean (scope-singleton) permettant d'injecter une instance unique du service 
qui manipule les objets d'articles partout où demander (via @Autowired) -->

    <bean id="service" class="service.ClientServiceImpl"></bean>
    <bean id="dao" class="dao.SQLClientDAO"></bean>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	 <property name="persistenceUnitName" value="couchev2"/>
   
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <jpa:repositories base-package="dao"/>
    

</beans>